* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Georgia;
}

.hide {
  opacity: 0;
  transition: all 0.5s ease-out;
}

.show {
  opacity: 1;
  transition: all 0.5s ease-in;
}

.red {
  color: #F85951;
}

.green {
  color: #26D076;
}

.num-container,
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

@media screen and (max-width:480px) {

  .num-container,
  .input-container {
    width: 80vw;
    height: 80vw;
  }
}

.input-container {
  position: absolute;
}

.num-container>.num-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 30px;
}

@media screen and (max-width:480px) {
  .num-container>.num-box {
    width: 16vw;
    height: 16vw;
    font-size: 20px;
  }
}

.input-container>input {
  display: block;
  margin: 10px;
  width: 60px;
  height: 60px;
  font-family: Georgia;
  border: 2px solid #000;
  outline: none;
  font-size: 30px;
  text-align: center;
}

.input-container>input:hover {
  border: 2px solid #c0c0c0;
}

.input-container>input:focus {
  border: 2px solid #909090;
}

@media screen and (max-width:480px) {
  .input-container>input {
    margin: 2vw;
    width: 12vw;
    height: 12vw;
    font-size: 20px;
  }
}

.timer,
.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 200px;
  height: 50px;
  font-size: 30px;
}

.timer {
  top: 50px;
}

.hint {
  bottom: 50px;
}

.hint-icon {
  position: absolute;
}

@media screen and (max-width:480px) {

  .timer,
  .hint {
    font-size: 20px;
  }
}

@media screen and (max-width:480px) {
  .timer {
    top: 15vh;
  }

  .hint {
    bottom: 15vh;
  }
}